INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
chordii.spec
config.log
config.status
configure
depcomp
install-sh
man/Makefile
man/Makefile.in
missing
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/stamp-h1
windows/config.h
*.o
src/a2crd
src/chordii
