Source: chordii
Section: unknown
Priority: extra
Maintainer: Johan Vromans <jvromans@.squirrel.nl>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: chordii
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Print music sheets from text (ChordPro) files.
 Chordii's purpose is to provide guitar players with a tool to produce
 good looking, self-descriptive music sheets from text files.
 .
 Chordii reads a text file containing the lyrics of a song, the chords
 to be played, their description and some other optional data to
 produce a PostScript document.

